<div class="row text-center">
  <div class="event-memory-header">
    <h1>Add <%= @event.name %> participants (<%= @event.participants.count %> total)</h1>
  </div>
  <%= render 'participants/form' %>
</div>
