<div class="container text-center">
  <div class="event-memory-header">
    <h1><%= @event.name %> Recap</h1>
  </div>

  <hr />

  <% @memories.each do |memory| %>
    <div class="recap-image text-center">
      <%= image_tag memory.image(:recap) %>
    </div>
    <div class="recap-description">
      <%= memory.description %>
    </div>
  <% end %>

  <hr />

  <footer>
    <p>That's it. Nice job guys.</p>
  </footer>
</div>
