body {
  background: url(image_path("homepage-stripes.jpg")) no-repeat center center;
  background-size: cover;
  background-color: #4A4C5D;
  color: #DDD;
}

.save-memory {
  width: 100%;
}

.event-image {
  height: 100px;
  overflow-y: hidden;
  opacity: 0.5;
  margin-bottom: -70px;
  z-index: -9999;
}

.event-memory-header {
  h1 {
    color: #FFF;
    font-size: 42px;
    font-weight: 700;
  }
  span {
  font-weight: 100;
  }
}

.new-memory-form {
  padding-top: 15px;
  label {
    font-weight: 300;
  }
  input {
    border-radius: 0;
  }
}

.recap-description {
  margin: 5px 0 40px;
  font-weight: 100;
}
