// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
/*
 *= require jquery-ui
 */

// Variables
$primarygreen: #68CAA9;
$lightgreen: #8DD8BF;
$lightgrey: #E6E6E6;
$grey: #CCC;

// App
@import "base";
@import "memories";
@import "static_pages";
